/*.container {*/
  /*position: relative;*/
/*}*/

.ball {
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: radial-gradient(orange, red);
}
